<div class="login">
    <div class="login-title">欢迎登录医院药事管理软件
        <span class="popup-close">
            <img src="./images/icon-close.jpg" alt="">
        </span>
    </div>
    <label class="login-input">
        用户名：<br>
        <input type="text" class="input userName">
    </label>
    <label class="login-input">
        密码：<br>
        <input type="password" class="input password">
    </label>
    <div class="login-btns">
        <button class="login-btn">登录</button>
        <button class="login-cancel">取消</button>
    </div>
    <div class="msg-error">
        <img class="msg-error-img" src="./images/icon-login-error.png">
        <span class="msg-error-text"></span>
    </div>
</div>
<div class="login-shade"></div>
