<div class="login">
    <div class="login-title">欢迎登录医院药事管理软件<span class="popup-close"></span></div>
    <label class="login-input">
        用户名：<br>
        <input type="text" class="input userName">
    </label>
    <label class="login-input">
        密码：<br>
        <input type="password" class="input password">
    </label>
    <button class="login-btn">登录</button>
    <button class="login-cancel">取消</button>
</div>
