<div class="popup-cancel-than">
    <div class="popup-title">
        取消比对
        <span class="popup-close"><img src="./images/icon-close.jpg" alt=""></span>
    </div>
    <div class="popup-content">
        <div class="btn-group">
            <div class="btn cancel-btn">取消</div>
            <div class="btn cancel-than-btn">确定</div>
        </div>
    </div>
    <div class="iframe"></div>
</div>
<div class="popup-shade"></div>