<div class="popup popup-company">
    <div class="popup-title">
        甲泼尼龙片◆② <span class="popup-close">关闭</span>
    </div>
    <div class="popup-content">
        门诊／住院单位：<br>
        <input type="text"><select></select><input type="text"><select></select>
    </div>
</div>
