<div class="popup-record">
    <div class="popup-title">
        {{popupTitle}}属性修改纪录 <span class="popup-close"></span>
    </div>
   <div class="popup-content">
       <table class="popup-table">
           <tr>
               <td>修改人</td>
               <td>修改内容</td>
               <td>修改时间</td>
           </tr>
       </table>
   </div>
</div>