<div class="title">标准数据比对
    <a href="javascript:void(0)" class="toggle" onClick="toggleFn(this)">
        <span class="toggle-text">收起</span><i class="icon-arrow"></i>
    </a>
</div>
<div class="than-content">
    <div class="search-than">
        {{#each input}}
            <lable class="input-group">
                {{this}}
                <input type="text" class="input">
            </lable>
        {{/each}}
        <a href="javaScript:void(0)" class="btn">查找</a>
    </div>
   <div class="than-table">
       <div class="than-thead">
           <table class="table">
               <tr class="thead">
                   {{#each thead}}
                       <td><div class="table-text">{{this}}</div></td>
                   {{/each}}
               </tr>
           </table>
       </div>
       <div class="than-tbody">
           <table class="table">
               {{#each tbody}}
                   <tr>
                       {{#each this}}
                           <td><div class="table-text">{{this}}</div></td>
                       {{/each}}
                   </tr>
               {{/each}}
           </table>
       </div>
   </div>
    <div class="no-than">
        如查询不到所需数据，请点击 <a href="javaScript:void(0)" class="add-than">添加数据</a>
    </div>
</div>