<div class="search-top">
    <div class="search-top-lf">
        {{#each input}}
            <label class="input-group">
                {{this.text}}
                <input type="text" class="input  {{this.inputClass}}">
            </label>
        {{/each}}
        <a href="javaScript:void(0)" class="btn">查找</a>
    </div>
    <div class="search-top-rt">
        <a href="javaScript:void(0)" class="btn create-btn">生成新药分类</a>
        <a href="javaScript:void(0)" class="btn">启用新药规则</a>
    </div>
</div>
<div class="search-data">
    <!--searchClassify.hbs 搜索分类-->
</div>