<div class="popup-item unstandard">
    <input type="text" class="item-input convertRatio" value="">
     <span class="standard_select"><!--边框-->
         <span class="select_shelter"><!--遮挡默认边框-->
             <select class="item-select unit">
                 {{#each unitArr}}
                     <option value="{{this}}">{{this}}</option>
                 {{/each}}
             </select>
         </span>
     </span>
    <input type="text" class="item-input fConvertRatio" value="">
      <span class="standard_select"><!--边框-->
          <span class="select_shelter"><!--遮挡默认边框-->
              <select class="item-select last-select formatUnit">
                  <option value="{{formatUnit}}">{{formatUnit}}</option>
              </select>
          </span>
      </span>
</div>
  