@charset "UTF-8";
html{
    height: 100%;
}
body{
    font: 12px/1 "Microsoft YaHei" ,Arial ,sans-serif;
    color:#333;
    margin:0;
    padding:0;
    width: 100%;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
input{border:none;}
img{border: none;}
a{
    color:#333;
    text-decoration:none;
}

/*页面头部样式*/
.header{
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background: url(./images/logo.png) 35px center no-repeat;
    background-color: #2d8cc0;
    .header-right{
        text-align: right;
    }
    .loginOut{
        color: #fff;
        background: #72C5F2;
        border-radius: 4px;
        padding: 4px 14px;
        margin: 0 54px 0 42px;
    }
    .time{
        margin-left: 12px;
    }
}

/*页面内容样式*/
.content{
    width: 96.43%;
    margin: 18px auto;
    text-align: center;
    height: 520px;
}

/*页面切换条样式*/
.tabBar-box{
    height: 30px;
    background: #fafafa;
    border-bottom: 1px solid #4EAADC;
    .tabBar{
        line-height: 30px;
        overflow: hidden;
        .tabBar-item{
            float: left;
            height: 30px;
            padding: 0 10px;
            color: #666;
            background: #fafafa;
            border-bottom: 1px solid #4EAADC;
        }
        .active{
            border-bottom: 0;
            color: #2D8CC0;
            a{
                border-top: 3px solid #4EAADC;
                border-left: 2px solid #4EAADC;
                border-right: 2px solid #4EAADC;
                display: block;
                background: #fff;
                float: left;
                padding: 0 10px;
            }
        }
    }
}
.table-diff{
    position: relative;
    .table-diff-bar{
        position: absolute;
        left:0;
        top:0;
        z-index: 10;
        background-color: #d2eefd;
        display: inline-block;
        a{
            padding:10px;
            display: inline-block;
        }
    }
    .table-diff-header{
        background-color: #2d8cc0;
    }

    .table-diff{
        tr:nth-child(2n){
            td{
                background-color: #fafafa;
            }
        }
        td,th{
            padding: 0;
            white-space: nowrap;
            >div{
                display: block;
                width: 100px;
                overflow: hidden;
                padding:5px 0;
            }
        }
        th{
            background-color: #2d8cc0;
            color: #fff;
            padding:5px 0;
        }
    }
    .table-diff-left{
        float: left;
        padding-top: 34px;
        position: relative;
        z-index: 9;

        td,th{
            >div{
                width: 70.42px;
            }
        }
        .table-diff-header{
            position: absolute;
            width: 500px;
            top:0;
            left:0px;
            z-index: 2;
        }
        .table-diff-data{
            overflow-x: hidden;
            overflow-y: hidden;
            height: 150px;
            &.table-diff-show-detail{
                overflow-y: auto;
            }
        }
        .table-diff-data-content{
            padding-bottom: 20px;
        }
    }
    .table-diff-right{
        position: relative;
        padding-top: 34px;
        margin-left: 505px;
        .table-diff-right-single{
            display: none;
            &.active{
                display: block;
            }
            .table-diff-single-title{
                line-height: 33px;
                border-bottom: 1px solid #d9d9d9;
                position: absolute;
                text-align: center;
                font-size: 12px;
                top: 0;
                left: 0;
                background-color: #2d8cc0;
                color: #fff;
                width: 100%;
            }
            .table-diff-single-content{
                height: 150px;
                background-color: #fff;
                overflow-y:scroll;
            }
        }
        .table-diff-right-all{
            display: none;
            &.active{
                display: block;
            }
        }
        .table-diff-header{
            position: absolute;
            top:0;
            width: 100%;
            overflow: hidden;
            left:0px;
            z-index: 2;
            .table-diff-header-content{
                overflow-x: hidden;
                table{
                    padding-right: 20px;
                }
            }
        }
        .table-diff-data{
            overflow-y: scroll;
            width:auto;
            height: 150px;
        }
    }
    table{
        background-color: #d9d9d9;
        td,th{
            background-color: #fff;
        }
    }
    .table-diff-data{
        margin-top: -1px;
        td{
            line-height: 20px;
        }
        tr.active{
            td{
                background-color: #d2eefd;
            }
        }
    }
}

/*页面底部样式*/
.footer{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
}
