@charset "UTF-8";
html{
    height: 100%;
    overflow: hidden;
}
body{
    font: 12px/1 "Microsoft YaHei" ,Arial ,sans-serif;
    color:#666;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    min-width: 990px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<990?"990px":"auto");
}
table{
    font: 12px/1 "Microsoft YaHei" ,Arial ,sans-serif;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
input{border:none;}
img{border: none;}
.lf{ float: left;}
.rt{ float: right;}
a{
    color:#666;
    text-decoration:none;
}
.color-red{
    color: red;
}
.icon-arrow-left{
    width: 6px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    background: url(./images/icon-arrow-left.png) center no-repeat;
}
#home{
    height: 100%;
    position: relative;
}
/*页面头部样式*/
.header{
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background: url(./images/logo.png) 35px center no-repeat;
    background-color: #2d8cc0;
    .header-right{
        text-align: right;
    }
    .login-out{
        color: #fff;
        background: #72C5F2;
        border-radius: 4px;
        padding: 4px 14px;
        margin: 0 54px 0 42px;
    }
    .time{
        margin-left: 12px;
        margin-right: 35px;
    }
}
/*页面切换条样式*/
.tabs-box-wrap{
    padding: 0 22px;
    text-align: center;//IE
    .tabs-box{
        //width: 96.43%;
        width: 100%;
        height: 30px;
        margin: 18px auto 16px;
        background: #fafafa;
        border-bottom: 1px solid #4EAADC;
        .tabs{
            height: 31px;
            line-height: 30px;
            margin: 0 10px;
            overflow: hidden;
            .tabs-item{
                float: left;
                height: 30px;
                padding: 0 20px;
                background: #fafafa;
            }
            .active{
                border-bottom: 0;
                color: #2D8CC0;
                background: #fff;
                line-height: 27px;
                border-top: 3px solid #4EAADC;
                border-left: 2px solid #4EAADC;
                border-right: 2px solid #4EAADC;
            }
        }
    }
}
/*页面内容样式*/
.content-wrap{
    text-align: center;//IE
    padding: 0 22px;
}
.content{
    //width: 96.43%;
    width: 100%;
    margin: 18px auto;
    //position:relative;//IE
    text-align: left;//IE
    //overflow: hidden;//IE
    .content-box{
        display: none;
    }
    .active{
        display: block;
    }
    /*输入框样式*/
    .input-group{
        display: inline-block;
        white-space: nowrap;
        float: left;
        padding-bottom: 10px;
        .input{
            display: inline-block;
            width: 100px;
            height: 24px;
            line-height: 24px;
            margin-left: 8px;
            margin-right: 20px;
            padding: 1px 5px;
            border: 1px solid #CACACA;
            vertical-align: middle;
        }
        .select{
            width: 120px;
            height: 28px;
            margin: 0 0 10px 8px;
            padding: 1px 5px;
            border: 1px solid #CACACA;
        }
    }
    /*按钮样式*/
    .btn{
        display: inline-block;
        padding: 8px 18px;
        color: #FFFFFF;
        background: #2D8CC0;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background: #267FB0;
        }
    }
    //弹窗
    .popup{
        display: none;
        width: 482px;
        background: #FFFFFF;
        border-radius: 2px;
        .popup-title{
            height: 28px;
            line-height: 28px;
            color: #fff;
            text-align: center;
            position: relative;
            background: #4EAADC;
            border-radius: 2px 2px 0 0;
            .popup-close{
                position: absolute;
                width: 16px;
                height: 16px;
                top: 6px;
                right: 10px;
                cursor: pointer;
                //background: url(./images/icon-close.jpg) center center no-repeat;
            }
        }
        .btn-group {
            margin-top: 20px;
            text-align: center;
            .btn {
                display: inline;
                text-align: center;
            }
        }
    }
    /*查找药品数据*/
    .search-box{
        margin-bottom: 5px;
        .search-top{
            overflow: hidden;
            .search-top-lf{
                float: left;
            }
            .search-top-rt{
                float: right;
                .btn{
                    border-radius: 0;
                }
                .download{
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                .create-btn{
                    margin: 0 1px;
                }
                .new-rules{
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
        .search-data{
            margin-top: 10px;
            line-height: 16px;
            overflow: hidden;
            width: 100%;
            .search-data-lf{
                float: left;
                width: 132px;
            }
            .search-data-rt{
                margin-left: 132px;
                text-align: justify;
                a{
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
            .active{
                display: inline-block;
                background: #2d8cc0;
                color: #fff;
                padding: 0 2px;
                span{
                    color: #fff;
                }
            }
            .color-blue{
                color: #2D8CC0;
            }
            .color-red{
                color: red;
            }
        }
    }

    //标准数据比对
    .standard-than{
        display: none;
        position: absolute;
        top: 0;
        z-index: 999999;
        left: 22px;
        right: 22px;
        background: #FAFAFA;
        overflow:hidden;
        border: 1px solid #D8D8D8;
        .title{
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            color: #2D8CC0;
            background: #FAFAFA;
            border-bottom: 1px solid #D8D8D8;
            .toggle{
                float: right;
                height: 30px;
                line-height: 30px;
                .toggle-text{
                    display: inline-block;
                }
                //.icon-arrow{
                //    display: inline-block;
                //    width: 10px;
                //    height: 6px;
                //    vertical-align: 2px;
                //    margin-left: 4px;
                //    background:  url(./images/icon-arrow-up.png) center center no-repeat;
                //}
                //.icon-arrow-down{
                //    background:  url(./images/icon-arrow-down.png) center center no-repeat;
                //}
            }
        }
        .than-content{
            overflow: auto;
        }
        .search-than{
            padding: 10px 12px 0;
            overflow: hidden;
            .input{
                display: inline-block;
                width: 50px;
                height: 24px;
                line-height: 24px;
                margin-left: 4px;
                margin-right: 20px;
                padding: 1px 5px;
                border: 1px solid #CACACA;
                vertical-align: middle;
            }
        }
        .than-table{
            //margin-top: 10px;
            position: relative;
            //width: 100%;
            margin: 0 10px;
            overflow: hidden;
            .than-thead-wrap{
                width: 100%;
                background: #4EAADC;
            }
            .than-thead{
                background: #4EAADC;
                margin-right: 16px;
                overflow: hidden;
            }
            .than-tbody{
                position: relative;
                height: 168px;
                overflow: scroll;
                width: 100%;
                background: #fff;
                tr:nth-child(odd){
                    background: #fff;
                }
            }
            .table{
                width: 100%;
                text-align: left;
                border-left:1px solid #d9d9d9;
                border-top:1px solid #d9d9d9;
                .thead{
                    color: #fff;
                    background: #4EAADC;
                }
                tr{
                    td{
                        border-right:1px solid #d9d9d9;
                        border-bottom:1px solid #d9d9d9;
                        div{
                            white-space: nowrap;
                            overflow: hidden;
                            padding: 8px 7px;
                        }
                    }
                }
                .table-text{
                    width: 100px;
                }
                .select-than{
                    cursor: pointer;
                    color: #2D8CC0;
                }
            }
        }
        .no-than{
            height: 28px;
            line-height: 28px;
            text-align: center;
            background: #fff;
            .add-than{
                color: #2D8CC0;
                text-decoration: underline;
            }
        }
    }
    .add-than-table{
        margin-top: 26px;
        .than-thead-wrap{
            margin-right: 16px;
        }
        .than-thead{
            background: #4EAADC;
            overflow: hidden;
            width: 100%;
        }
        .than-tbody-wrap{
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        .than-tbody{
            height: 350px;
            width: 100%;
            overflow: auto;
            _overflow: scroll;
        }
        .table{
            //width: 100%;
            text-align: left;
            border-collapse: collapse;
            border-spacing: 0;
            .thead{
                color: #fff;
                background: #4EAADC;
            }
            tr{
                td{
                    padding: 9px 7px;
                    white-space: nowrap;
                    overflow: hidden;
                    border: 1px solid #D8D8D8;
                }
            }
            .table-text{
                width: 168px;
                overflow: hidden;
            }
            .add-than-info{
                color: #2D8CC0;
                cursor: pointer;
            }
        }
    }

    #slicesStandardData{
        .than-table .table .table-text {
            width: 157px;
        }
    }
    //药品目录-添加对比数据
    .add-data{
        display: none;
        //margin-top: -8px;
        .goback{
            display: block;
            color: #2D8CC0;
            margin-bottom: 20px;
            width: 50px;
        }
        //ie
        .add-search-than{
            .input{
                display: inline-block;
                width: 100px;
                height: 24px;
                line-height: 24px;
                margin-left: 8px;
                margin-right: 20px;
                padding: 1px 5px;
                border: 1px solid #CACACA;
                vertical-align: middle;
            }
        }
    }

    .popup-add-info{
        width: 482px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
        margin-left: -242px;
        margin-top: -134px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        border-radius: 2px;
        .popup-content{
            padding: 30px 30px 0;
            overflow: hidden;
            line-height: 1.6;
            .content-lf{
                float: left;
                width: 211px;
            }
            .content-rt{
                float: left;
                width: 211px;
            }
            .text-lf{
                width: 84px;
                display: inline-block;
                *float:left;
            }
            li{
                overflow: hidden;
                width: 100%;
                margin-bottom: 10px;
            }
            .input-group{
                .input{
                    width: 60px;
                    margin-bottom: 0;
                }
                .select{
                    width: 100px;
                    *float:left;
                }
            }
            .popup-btn{
                float: left;
                width: 100%;
                margin-top: 20px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
    //门诊／住院单位
    .popup-company{
        width: 320px;
        position: absolute;
        top: 175px;
        left: 50%;
        z-index: 9999;
        margin-left: -161px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        border-radius: 2px;
        text-align: center;
        .popup-content{
            //padding: 20px 74px;
            padding: 20px 0;
            width: 320px;
            .popup-list-wrap{
                overflow: auto;
                width: 200px;
                margin: 0 auto;
                max-height: 174px;
                _height:expression(this.scrollHeight > 174 ? "174px" : "auto");
            }
            .popup-list{
                width: 180px;
                margin: 0 auto;
                .popup-item{
                    width: 100%;
                    margin-top: 10px;
                    overflow: hidden;
                    .item-input{
                        width: 34px;
                        float: left;
                        padding: 5px;
                        border: 1px solid #CACACA;
                    }
                    .standard_select{ /*边框*/
                        float: left;
                        display:inline-block;
                        border:solid 1px #CACACA;
                        padding:2px 0;
                        *padding:3px 0; /*调整此处改变select高度*/
                        .select_shelter{ /*遮挡默认边框*/
                            display:inline-block;
                            width:40px;
                            *width:38px;
                            height:20px;
                            overflow:hidden;
                            .item-select{
                                *margin:-2px;
                                *margin-bottom: -4px;
                                padding:1px;
                                border:0;
                                width: 40px; /*select的宽度*/
                            }
                        }
                    }
                    .last-select{
                        border-right-width: 1px;
                    }
                }
            }
            .btn-group{
                .add-unit{
                    //background: #BCBCBC;
                    margin-right: 30px;
                }
            }
        }
    }
    .popup-record{
        width: 482px;
        position: absolute;
        top: 175px;
        left: 50%;
        z-index: 9999;
        margin-left: -241px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        .popup-content{
            max-height: 250px;
            overflow: auto;
            padding: 10px 10px 19px;
            .popup-table{
                width: 100%;
                padding: 10px;
                border-collapse: collapse;
                border-spacing: 0;
                tr{
                    td{
                        border: 1px solid #D8D8D8;
                        height: 25px;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .popup-channel{
        width: 380px;
        position: absolute;
        top: 175px;
        left: 50%;
        z-index: 9999;
        margin-left: -241px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        .popup-content{
            padding: 10px 10px 10px;
            max-height: 200px;
            _height:expression(this.scrollHeight > 200 ? "200px" : "auto");
            overflow: auto;
            .channel-checkbox{
                vertical-align: middle;
            }
            .sub-channel{
                display: none;
                margin-left: 15px;
            }
        }
        .save-channel{
            display: block;
            margin: 0 10px 10px;
            width: 60px;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
    //取消比对
    .popup-cancel-than{
        width: 250px;
        position: absolute;
        top: 175px;
        left: 50%;
        z-index: 9999;
        margin-left: -125px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        .btn-group{
            margin: 20px 0;
            text-align: center;
            .cancel-btn{
                background: #BCBCBC;
            }
            .cancel-than-btn{
                margin-left: 30px;
            }
        }
    }
    .popup-iframe{
        position:absolute;
        top:0;
        left:0;
        filter:alpha(opacity=0);
        width:100%;
        z-index: -1;
        border: 0;
    }
}
//药品数据
.table-diff-data{
    tr{
        input{
            width: 100%;
            padding:4px 0;
            color: #666;
            border:1px solid transparent;
            background-color: transparent;
        }
        .color-red{
            color: red;
        }
        &.hover,&.active{
            input{
                width: 97%;
                border-color:#d9d9d9;
                background-color: #fff;
            }
            .table-diff-data-td-select{
                .value{
                    display: none;
                }
                .select{
                    display: block;
                }
            }
        }
    }
    .has-instruction{
        color: #2D8CC0;
        cursor: pointer;
        text-decoration: underline;
    }
}
.table-diff{
    //margin-top: 5px;
    position: relative;
    height: 378px;
    overflow: hidden;
    .table-diff-data-td-select{
        .value{
            display: block;
        }
        .select{

            display: none;
            select{
                width: 100%;
                height: 24px;
                display: block;
                margin-top: 2px;
            }
        }
    }
    .table-diff-bar{
        position: absolute;
        left:0;
        white-space: nowrap;
        top:0;
        z-index: 999999;
        color: #fff;
        background-color: #4DA9DB;
        //display: inline-block;
        display: none;
        height: 32px;
        line-height: 32px;
        a{
            color: #fff;
            padding: 0 10px;
            display: inline-block;
        }
    }
    .table-diff-header{
        //background-color: #2d8cc0;
        .scroll-loading{
            position: absolute;
            bottom: 16px;
            left: 50%;
            z-index: -1;
        }
    }

    .table-diff{
        tr{
            &:nth-child(2n){
                td{
                    background-color: #fafafa;
                }
            }
        }
        .icon-triangle{
            cursor: pointer;
            background:  url(./images/icon-triangle.png) top right no-repeat #fff;
        }
        td,th{
            padding: 0;
            border-right:1px solid #d9d9d9;
            border-bottom:1px solid #d9d9d9;
            white-space: nowrap;
            div{
                display: block;
                width: 100px;
                overflow: hidden;
                height: 28px;
                line-height: 28px;
                padding: 0 5px;
            }
        }
        th{
            background-color: #2d8cc0;
            color: #fff;
            //padding:5px 0;
        }
    }
    .table-diff-left{
        float: left;
        padding-top: 28px;
        position: relative;
        z-index: 9;
        width: 689px;
        td,th{
           position:relative;
            div{
                width: 80px;
                overflow:hidden;
            }
        }
        .table-diff-header{
            position: absolute;
            width: 689px;
            top:0;
            left:0;
            z-index: 2;
            .resize{
                height: 28px;
                display: block;
                width: 4px;
                position: absolute;
                right: -2px;
                top: 0;
                float: right;
                background: transparent;
                z-index: 2147483647;
                cursor : col-resize;
                opacity: 0.8;
            }
        }
        .table-diff-data{
            position: relative;//解决：父对象有overflow：hidden属性，子对象中的position属性是relative或者absolute，那么在ie6和ie7下父对象的overflow会失效。
            overflow: hidden;
            height: 349px;
            //width: 689px;//ie6下会出错
            &.table-diff-show-detail{
                overflow-y: auto;
            }
        }
        .table-diff-data-content{
            //padding-bottom: 20px;
            padding-bottom: 50px;
            .table-num{
                width: 40px;
                div{
                    width: 40px;
                    text-align: center;
                }
            }
        }
    }
    .table-diff-right{
        position: relative;
        padding-top: 28px;
        margin-left: 689px;
        //overflow: hidden;//IE
        .table-diff-right-single{
            display: none;
            &.active{
                display: block;
            }
            .table-diff-single-title{
                line-height: 29px;
                border-bottom: 1px solid #d9d9d9;
                position: absolute;
                text-align: center;
                font-size: 12px;
                top: 0;
                left: 0;
                background-color: #4EAADC;
                color: #fff;
                width: 100%;
            }
            .table-diff-single-content{
                height: 349px;//ie
                line-height: 1.4;
                background: #F0FAFF;
                border: 1px solid #D8D8D8;
                padding: 10px 10px 0;
                .table-details-content-box{
                    width: 100%;
                    overflow-y: scroll;
                    _overflow: scroll;
                    height: 260px;
                    .content-list{
                        display: block;
                        overflow: hidden;
                        li{
                            float: left;
                            margin-right: 30px;
                            padding-bottom: 10px;
                        }
                        .input-group{
                            height: 30px;
                            margin-bottom: 0;
                            .input{
                                margin-bottom: 0;
                            }
                            .select{
                                display: inline-block;
                                width: 106px;
                                margin-bottom: 0;
                            }
                        }
                        .adminRouteExclude{
                            display: inline-block;
                            overflow: hidden;
                        }
                    }
                }
                .tool{
                    position: relative;
                    text-align: center;
                    height: 28px;
                    padding: 10px 0;
                    .btn-toggle{
                        float: left;
                        padding-top: 8px;
                        color: #2D8CC0;
                    }
                    .btn-record{
                        float: right;
                        padding-top: 8px;
                        color: #2D8CC0;
                    }
                    .btn-cancel{
                        position: absolute;
                        left: 50%;
                        margin-left: -42px;
                    }
                }
                .pagination{
                    text-align: center;
                    padding: 7px 0;
                    .pagination-prev{
                        margin-right: 30px;
                    }
                }
            }
        }
        .table-diff-right-all{
            display: none;
            //overflow: hidden;//IE
            &.active{
                display: block;
            }
            .table-diff-data{
                table{
                    margin-bottom: 30px;
                }
            }
        }
        .table-diff-header{
            position: absolute;
            top:0;
            width: 100%;
            //overflow: hidden;
            left:0;
            z-index: 2;
            background: #4EAADC;
            .table-diff-header-content{
                overflow-x: hidden;
                margin-right: 20px;
                table{
                    //padding-right: 20px;
                    th{
                        background: #4EAADC;
                    }
                }
            }
        }
        .table-diff-data{
            //overflow-y: scroll;
            //width:auto;
            overflow: scroll;
            width:100%;
            height: 349px;
            color: #666;
            position: absolute;
        }
    }
    table{
        background-color: #d9d9d9;
        border-top:1px solid #d9d9d9;
        border-left:1px solid #d9d9d9;
        td,th{
            background-color: #fff;
        }
    }
    .table-diff-data{
        td{
            line-height: 20px;
        }
        tr{
            height: 28px;
        }
        tr.active{
            display: table-row;
            td{
                background-color: #d2eefd;
            }
        }
    }
}

/*页面底部样式*/
.footer{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    .footer-item{
        margin: 30px;
    }
}
//加载中
.loading-wrap{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(0,0,0,0.1);
}
.loading{
    margin-top: -6px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 50%;
    width: 100%;
    .loading-img{
        width: 25px;
    }
}

//滚动加载
.scroll-loading{
    display: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
//保存成功
.prompt{
    display: none;
    color: #fff;
    text-align: center;
    position: fixed;
    _position: absolute;
    background: black;
    bottom:0;
    right:0;
    line-height: 2;
    padding: 10px 40px;
    z-index: 999999;
}
//登录框
.login{
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -190px;
    background: #fff;
    color: #666;
    width: 380px;
    font-size: 14px;
    z-index: 2147483647;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 9px 0 rgba(148,148,148,0.50);
    .login-title{
        padding: 12px;
        background-color: #4EAADC;
        color: #fff;
    }
    .login-input{
        display: block;
        color: #747474;
        padding: 20px 20px 0 20px;
        line-height: 25px;
        .input{
            border: 1px solid #e3e3e3;
            line-height: 1.5;
            padding: 5px 10px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: content-box;
            width: 308px;
            margin-top: 5px
        }
    }
    .login-btn{
        float: left;
        background-color: #2d8cc0;
        margin: 20px 30px;
        border: 0;
        padding: 7px 15px;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
    }
    .popup-close{
        position: absolute;
        width: 16px;
        height: 16px;
        top: 11px;
        right: 10px;
        img{
            width: 100%;
        }
    }
    .login-cancel{
        float: right;
        margin: 20px 30px;
        border: 0;
        padding: 7px 15px;
        border-radius: 3px;
        font-size: 14px;
        background: #BCBCBC;
    }
}
.shade{
    display:none;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    z-index: 9999;
    background: black;
    opacity:0.1;
    filter:Alpha(opacity=10);
}
