@charset "UTF-8";
html{
    height: 100%;
}
body{
    font: 12px/1 "Microsoft YaHei" ,Arial ,sans-serif;
    color:#666;
    margin:0;
    padding:0;
    width: 100%;
    min-width: 960px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
input{border:none;}
img{border: none;}
.lf{ float: left;}
.rt{ float: right;}
a{
    color:#666;
    text-decoration:none;
}
.color-red{
    color: red;
}
.icon-arrow-left{
    width: 6px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    background: url(./images/icon-arrow-left.png) center no-repeat;
}
/*页面头部样式*/
.header{
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background: url(./images/logo.png) 35px center no-repeat;
    background-color: #2d8cc0;
    .header-right{
        text-align: right;
    }
    .login-out{
        color: #fff;
        background: #72C5F2;
        border-radius: 4px;
        padding: 4px 14px;
        margin: 0 54px 0 42px;
    }
    .time{
        margin-left: 12px;
    }
}
/*页面切换条样式*/
.tabs-box{
    width: 96.43%;
    height: 30px;
    margin: 18px auto 16px;
    background: #fafafa;
    border-bottom: 1px solid #4EAADC;
    .tabs{
        height: 31px;
        line-height: 30px;
        margin: 0 10px;
        overflow: hidden;
        .tabs-item{
            float: left;
            height: 30px;
            padding: 0 20px;
            background: #fafafa;
        }
        .active{
            border-bottom: 0;
            color: #2D8CC0;
            background: #fff;
            line-height: 27px;
            border-top: 3px solid #4EAADC;
            border-left: 2px solid #4EAADC;
            border-right: 2px solid #4EAADC;
        }
    }
}
/*页面内容样式*/
.content{
    width: 96.43%;
    margin: 18px auto;
    .content-box{
        display: none;
    }
    .active{
        display: block;
    }
    /*输入框样式*/
    .input-group{
        display: inline-block;
        white-space: nowrap;
        float: left;
        .input{
            display: inline-block;
            width: 108px;
            height: 24px;
            line-height: 24px;
            margin-left: 8px;
            margin-right: 20px;
            padding: 1px 5px;
            border: 1px solid #CACACA;
            vertical-align: middle;
        }
        .select{
            width: 120px;
            height: 28px;
            margin: 0 0 10px 8px;
            padding: 1px 5px;
            border: 1px solid #CACACA;
        }
    }
    /*按钮样式*/
    .btn{
        display: inline-block;
        padding: 8px 18px;
        color: #FFFFFF;
        background: #2D8CC0;
        border-radius: 4px;
        cursor: pointer;
    }
    //弹窗
    .popup{
        display: none;
        width: 482px;
        background: #FFFFFF;
        //border: 1px solid #FFFFFF;
        //box-shadow: 0 0 9px 0 rgba(148,148,148,0.50);
        border-radius: 2px;
        .popup-title{
            height: 28px;
            line-height: 28px;
            color: #fff;
            text-align: center;
            position: relative;
            background: #4EAADC;
            border-radius: 2px 2px 0 0;
            .popup-close{
                position: absolute;
                width: 16px;
                height: 16px;
                top: 6px;
                right: 10px;
                cursor: pointer;
                background: url(./images/icon-close.png) center center no-repeat;
            }
        }
    }

    /*查找药品数据*/
    .search-box{
        .search-top{
            overflow: hidden;
            .search-top-lf{
                float: left;
            }
            .search-top-rt{
                float: right;
                .create-btn{
                    margin-right: 10px;
                }
            }
        }
        .search-data{
            margin-top: 18px;
            line-height: 16px;
            overflow: hidden;
            .color-blue{
                color: #2D8CC0;
            }
            .color-red{
                color: red;
            }
            .download{
                float: right;
                line-height: 16px;
                .icon-download{
                    vertical-align: top;
                    margin-right: 4px;
                }
            }
        }
    }

    //标准数据比对
    .standard-than{
        display: none;
        margin-top: 30px;
        border: 1px solid #D8D8D8;
        .title{
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            color: #2D8CC0;
            background: #FAFAFA;
            border-bottom: 1px solid #D8D8D8;
            .toggle{
                float: right;
                .icon-arrow{
                    display: inline-block;
                    width: 10px;
                    height: 6px;
                    vertical-align: 2px;
                    margin-left: 4px;
                    background:  url(./images/icon-arrow-up.png) center center no-repeat;
                }
                .icon-arrow-down{
                    background:  url(./images/icon-arrow-down.png) center center no-repeat;
                }
            }
        }
        .search-than{
            padding: 10px 12px 10px;
        }
        .than-table{
            position: relative;
            .than-thead{
                // padding-right: 16px;
                background: #4EAADC;
            }
            .than-tbody{
                position: relative;
                height: 168px;
                overflow-y: scroll;
            }
            .table{
                width: 100%;
                text-align: left;
                border-left:1px solid #d9d9d9;
                border-top:1px solid #d9d9d9;
                .thead{
                    color: #fff;
                    background: #4EAADC;
                }
                tr{
                    td{

                        border-right:1px solid #d9d9d9;
                        border-bottom:1px solid #d9d9d9;

                        div{
                            white-space: nowrap;
                            overflow: hidden;
                            padding: 9px 7px;
                        }
                    }
                }
                .table-text{
                    width: 70px;
                }
                .select-than{
                    cursor: pointer;
                    color: #2D8CC0;
                }
            }
        }
        .no-than{
            height: 28px;
            line-height: 28px;
            text-align: center;
            .add-than{
                color: #2D8CC0;
                text-decoration: underline;
            }
        }
    }
    .add-than{
        margin-top: 26px;
        .than-thead{
            // padding-right: 16px;
            background: #4EAADC;
        }
        .than-tbody-wrap{
            position: relative;
        }
        .than-tbody{
            height: 350px;
            overflow-y: scroll;
        }
        .table{
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            border-spacing: 0;
            .thead{
                color: #fff;
                background: #4EAADC;
            }
            tr{
                td{
                    padding: 9px 7px;
                    white-space: nowrap;
                    overflow: hidden;
                    border: 1px solid #D8D8D8;
                }
            }
            .table-text{
                width: 70px;
            }
            .add-than-info{
                color: #2D8CC0;
                cursor: pointer;
            }
        }
    }

    //药品目录-添加对比数据
    .add-data{
        display: none;
        margin-top: -8px;
        .goback{
            display: block;
            color: #2D8CC0;
            margin-bottom: 20px;
        }
        //药品目录-添加对比信息弹窗
    }
    .popup-add-info{
        width: 482px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -242px;
        margin-top: -134px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        border-radius: 2px;
        .popup-content{
            padding: 30px;
            overflow: hidden;
            .content-lf{
                float: left;
                width: 212px;
            }
            .content-right{
                float: left;
            }
            .input-group{
                .input{
                    width: 60px;
                    margin-bottom: 0;
                }
            }
            li{
                margin-bottom: 10px;
            }
            .popup-btn{
                float: left;
                width: 100%;
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    //门诊／住院单位
    .popup-company{
        width: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 99;
        margin-left: -161px;
        margin-top: -122px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        border-radius: 2px;
        .popup-content{
            padding: 20px 74px;
            .popup-list{
                width: 200px;
                overflow: auto;
                max-height: 174px;
                .popup-item{
                    margin-top: 10px;
                    overflow: hidden;
                    .item-input{
                        width: 34px;
                        height: 26px;
                        float: left;
                        padding: 0 5px;
                        border: 1px solid #CACACA;
                    }
                    .item-select{
                        height: 28px;
                        width: 40px;
                        float: left;
                        border-left-width: 0;
                        border-right-width: 0;
                        border-color: #CACACA;
                    }
                    .last-select{
                        border-right-width: 1px;
                    }
                }
            }
            .btn-group{
                margin-top: 20px;
                text-align: center;
                .add-unit{
                    background: #BCBCBC;
                    margin-right: 30px;
                }
            }
        }
    }
    .popup-record{
        width: 482px;
        position: absolute;
        top: 250px;
        left: 50%;
        z-index: 99;
        margin-left: -241px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        .popup-content{
            max-height: 250px;
            overflow: auto;
            padding: 10px 10px 19px;
            .popup-table{
                width: 100%;
                padding: 10px;
                border-collapse: collapse;
                border-spacing: 0;
                tr{
                    td{
                        border: 1px solid #D8D8D8;
                        height: 25px;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .popup-channel{
        width: 380px;
        position: absolute;
        top: 250px;
        left: 50%;
        z-index: 99;
        margin-left: -241px;
        background: #fff;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 9px 0 rgba(148, 148, 148, 0.5);
        .popup-content{
            padding: 10px 10px 10px;
            max-height: 200px;
            overflow: auto;
            .channel-checkbox{
                vertical-align: middle;
            }
            .sub-channel{
                display: none;
                margin-left: 15px;
            }
        }
        .save-channel{
            margin: 10px;
        }
    }
}
//药品数据
.table-diff-data{
    tr{
        input{
            width: 100%;
            padding:4px 0;
            color: #666;
            border:1px solid transparent;
            background-color: transparent;
        }
        .color-red{
            color: red;
        }
        &.hover,&.active{
            input{
                width: 100%;
                border-color:#d9d9d9;
                background-color: #fff;
            }
        }
    }
}
.table-diff{
    margin-top: 10px;
    position: relative;
    .table-diff-bar{
        position: absolute;
        left:0;
        white-space: nowrap;
        top:0;
        z-index: 10;
        color: #fff;
        background-color: #4DA9DB;
        //display: inline-block;
        display: none;
        a{
            color: #fff;
            padding:10px;
            display: inline-block;
        }
    }
    .table-diff-header{
        //background-color: #2d8cc0;
    }

    .table-diff{
        tr{
            &:nth-child(2n){
                td{
                    background-color: #fafafa;
                }
            }
        }
        .icon-triangle{
            cursor: pointer;
            background:  url(./images/icon-triangle.png) top right no-repeat #fff;
        }
        td,th{
            padding: 0;
            border-right:1px solid #d9d9d9;
            border-bottom:1px solid #d9d9d9;
            white-space: nowrap;
            >div{
                display: block;
                width: 100px;
                overflow: hidden;
                height: 28px;
                line-height: 28px;
                padding: 0 5px;
            }
        }
        th{
            background-color: #2d8cc0;
            color: #fff;
            //padding:5px 0;
        }
    }
    .table-diff-left{
        float: left;
        padding-top: 28px;
        position: relative;
        z-index: 9;
        width: 637px;
        td,th{
            >div{
                width: 80px;
            }
        }
        .table-diff-header{
            position: absolute;
            width: 637px;
            top:0;
            left:0;
            z-index: 2;
        }
        .table-diff-data{
            overflow-x: hidden;
            overflow-y: hidden;
            height: 448px;
            &.table-diff-show-detail{
                //overflow-y: auto;
            }
        }
        .table-diff-data-content{
            padding-bottom: 20px;
        }
    }
    .table-diff-right{
        table{
            border-left-width:0px;
        }
        position: relative;
        padding-top: 28px;
        margin-left: 637px;
        .table-diff-right-single{
            display: none;
            &.active{
                display: block;
            }
            .table-diff-single-title{
                line-height: 29px;
                border-bottom: 1px solid #d9d9d9;
                position: absolute;
                text-align: center;
                font-size: 12px;
                top: 0;
                left: 0;
                background-color: #4EAADC;
                color: #fff;
                width: 100%;
            }
            .table-diff-single-content{
                height: 416px;
                line-height: 1.4;
                background: #F0FAFF;
                border: 1px solid #D8D8D8;
                padding: 10px 10px 20px;
                .table-details-content-box{
                    overflow-y: scroll;
                    height: 332px;
                    .content-list{
                        display: block;
                        overflow: hidden;
                        li{
                            float: left;
                            margin-right: 30px;
                            margin-bottom: 10px;
                        }
                        .input-group{
                            .input{
                                margin-bottom: 0;
                            }
                            .select{
                                width: 106px;
                                margin-bottom: 0;
                            }
                        }
                        .adminRouteExclude{
                            overflow: hidden;
                        }
                    }
                }
                .tool{
                    position: relative;
                    text-align: center;
                    height: 28px;
                    padding: 20px 0;
                    .btn-toggle{
                        float: left;
                        padding-top: 8px;
                        color: #2D8CC0;
                    }
                    .btn-record{
                        float: right;
                        padding-top: 8px;
                        color: #2D8CC0;
                    }
                    .btn-cancel{
                        position: absolute;
                        left: 50%;
                        margin-left: -42px;
                    }
                }
                .pagination{
                    text-align: center;
                    .pagination-prev{
                        margin-right: 30px;
                    }
                }
            }
        }
        .table-diff-right-all{
            display: none;
            &.active{
                display: block;
            }
        }
        .table-diff-header{
            position: absolute;
            top:0;
            width: 100%;
            overflow: hidden;
            left:0px;
            z-index: 2;
            .table-diff-header-content{
                overflow-x: hidden;
                table{
                    padding-right: 20px;
                    th{
                        background: #4EAADC;
                    }
                }
            }
        }
        .table-diff-data{
            overflow-y: scroll;
            width:auto;
            height: 448px;
        }
    }
    table{
        background-color: #d9d9d9;
        border-top:1px solid #d9d9d9;
        border-left:1px solid #d9d9d9;
        td,th{
            background-color: #fff;
        }
    }
    .table-diff-data{
        td{
            line-height: 20px;
        }
        tr{
            height: 28px;
        }
        tr.active{
            display: table-row;
            td{
                background-color: #d2eefd;
            }
        }
    }
}
//中药饮片
.slices-table{
    .table-diff{
        .table-diff-right .table-diff-header {
            background: #4EAADC;
        }
        .table-diff-right .table-diff-header .table-diff-header-content table{
            margin-right: 16px;
            padding-right: 0;
        }
        .table-diff-right {
            td > div, th > div{
                width: 64px;
            }
        }
    }
}
/*页面底部样式*/
.footer{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
    .footer-item{
        margin: 30px;
    }
}
//加载中
.loading-wrap{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: rgba(0,0,0,0.1);
}
.loading{
    margin-top: -6px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 50%;
    width: 100%;
    .loading-img{
        width: 25px;
    }
}

//登录框
.login{
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -190px;
    background: #fff;
    color: #666;
    width: 380px;
    font-size: 14px;
    z-index: 999;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 9px 0 rgba(148,148,148,0.50);
    .login-title{
        padding: 12px;
        background-color: #4EAADC;
        color: #fff;
    }
    .login-input{
        display: block;
        color: #747474;
        padding: 20px 20px 0 20px;
        line-height: 25px;
        .input{
            border: 1px solid #e3e3e3;
            line-height: 1.5;
            padding: 5px 10px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: content-box;
            width: 308px;
            margin-top: 5px
        }
    }
    .login-btn{
        background-color: #2d8cc0;
        margin: 20px 30px;
        border: 0;
        padding: 7px 15px;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
    }
    .popup-close{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 6px;
        right: 10px;
        background: url(./images/icon-close.png) center center no-repeat;
    }
    .login-cancel{
        float: right;
        margin: 20px 30px;
        border: 0;
        padding: 7px 15px;
        border-radius: 3px;
        font-size: 14px;
        background: #BCBCBC;
    }
}
