<div class="tabBar-box">
    <ul class="tabBar">
        <li class="tabBar-item active"><a href="javascript:void(0)">化学药／中成药</a></li>
        <li class="tabBar-item"><a href="javascript:void(0)">中药饮片</a></li>
        <li class="tabBar-item"><a href="javascript:void(0)">医院制剂</a></li>
    </ul>
</div>