<a href="javascript:void(0)" class="goback">返回</a>
{{{searchBox}}}
<div class="popup popup-add-info">
    <div class="popup-title">
        新增信息 <span class="popup-close">关闭</span>
    </div>
    <div class="popup-content">
        <ul class="content-lf">
            <li>药品名称：甲泼尼龙片</li>
            <li>规格：4mg</li>
            <li class="input-group">包装(转化比):<input type="text" class="input"></li>
            <li class="input-group">包装单位:<input type="text" class="input"></li>
        </ul>
        <ul class="content-rt">
            <li> 生产企业：天津天药药业股份有限公司</li>
            <li>批准文号：国药准字H20020224</li>
            <li class="input-group">最小使用单位:<input type="text" class="input"></li>
        </ul>
        <div class="popup-btn">
            <a href="javaScript:void(0)" class="btn">保存并比对</a>
        </div>
    </div>
</div>